<div class="navbar">
  <h1>Margaux Cocktails</h1>
  <p>The bests cocktails in the world !</p>
  <%= link_to 'add a cocktails', new_cocktail_path, { class: "btn btn-info" } %>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |c| %>
      <%= link_to(cocktail_path(c)) do %>  
        <div class="card">
          <h2><%= c.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>