// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: rgb(238, 238, 238);
}

.add {
  height: 100vh;
  background-size: cover;
}

.show {
  ul {
    margin:15px;
    list-style: none;
    padding: 15px;
    background-color: rgba(223, 223, 223, 0.5);
    border-radius: 20px;
  }
  .ingredient {
    width: 400px;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.5);
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    right: 20px;
    top: 100px;
  }
  display: block;
}

.bg {
  background-size: cover;
  height: 100vh;
  margin: 0;
  z-index: -1;
}